@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Color;
$primary-color: #066F75;
$hover-color : #f74d6c;
$secondary-color: #00A896;
$primary-color-d: #005151;
$bColor: #333333;
$white : #ffffff;
$black : #000000;
$bgOne: #FAFAFA;
$bgTwo: #F7F7F7;
$border-color: #DADADA;


// Body;
$bodyFont: 'Open Sans', sans-serif;
$titleFont: 'Montserrat', sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .2s;
