
.home-contact {
    padding-top: 80px;
  }
  .home-contact .section-title h2 {
    color: #066F75;
  }
  @media (max-width: 991.98px) {
    .home-contact .text {
      padding-bottom: 40px;
    }
  }
  .home-contact .text .section-title span {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  .home-contact .text .locations {
    padding-top: 30px;
  }
  .home-contact .text .locations ul {
    display: flex;
    flex-wrap: wrap;
  }
  .home-contact .text .locations ul li {
    width: 50%;
    padding-left: 40px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 30px;
  }
  @media (max-width: 575px) {
    .home-contact .text .locations ul li {
      width: 100%;
    }
  }
  .home-contact .text .locations ul li h5 {
    font-size: 18px;
  }
  .home-contact .text .locations ul li .icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 26px;
    color: #066F75;
  }
  .home-contact .text .contact-for {
    position: relative;
    font-size: 18px;
    z-index: -3;
    background-color: #fff;
  }
  .home-contact .text .direct-contact {
    display: flex;
    align-items: center;
  }
  @media (max-width: 575px) {
    .home-contact .text .direct-contact {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .home-contact .text .direct-contact li {
    margin-right: 30px;
    margin-top: 15px;
  }
  .home-contact .text .direct-contact li a {
    display: flex;
    align-items: center;
    color: #066F75;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  .home-contact .text .direct-contact li a svg {
    padding-right: 8px;
  }
  .home-contact .form {
    padding: 30px 15px;
    background-color: #E0F2F0;
    border-radius: 10px;
  }
  .home-contact .form .section-title h2 {
    margin-bottom: 10px;
  }
  .home-contact .form .section-title p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .home-contact .form .input-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .home-contact .form .input-item {
    margin-bottom: 10px;
    width: 100%;
  }
  .home-contact .form .input-item.w-h {
    width: calc(50% - 7.5px);
  }
  @media (max-width: 575px) {
    .home-contact .form .input-item.w-h {
      width: 100%;
    }
  }
  .home-contact .form .input-item input,
  .home-contact .form .input-item textarea {
    width: 100%;
    height: 45px;
    border: 1px solid #d2d2d2;
    padding: 0 15px;
    font-family: "Montserrat", sans-serif;
  }
  .home-contact .form .input-item textarea {
    padding-top: 15px;
    height: 120px;
  }
  .home-contact .form .submit-area button {
    height: 45px;
    padding: 0 20px;
    background: linear-gradient(#fe8065, #f74d6c);
    border: 0;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }