
.home-banner {
  padding: 40px 0;
  background-color: #EEEDEE;
  position: relative;
}
@media (max-width: 991.98px) {
  .home-banner {
    padding: 50px 0;
  }
}
.home-banner .left-sidebar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 5;
  background-color: #fff;
  padding: 15px 30px;
  width: 210px;
  border-radius: 0 30px 30px 0;
}
@media (max-width: 991.98px) {
  .home-banner .left-sidebar {
    display: none;
  }
}
.home-banner .left-sidebar .border-style {
  width: 100%;
  height: 3px;
  background: linear-gradient(45deg, transparent, #d1d1d1, transparent);
}
.home-banner .left-sidebar .sidebar-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-banner .left-sidebar .sidebar-img img {
  width: 150px;
}
.home-banner .left-sidebar .sidebar-img span {
  display: block;
  padding-top: 5px;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 8px;
}
.home-banner .left-sidebar .sidebar-list {
  padding-top: 10px;
  padding-bottom: 15px;
}
.home-banner .left-sidebar .sidebar-list ul li a {
  display: inline-block;
  color: #005151;
  font-weight: 500;
  font-size: 18px;
}
.home-banner .left-sidebar .sidebar-list ul li a:hover {
  color: #f74d6c;
}
.home-banner .left-sidebar .sidebar-social {
  padding-top: 15px;
}
.home-banner .left-sidebar .sidebar-social ul {
  margin-left: -20px;
  text-align: center;
}
.home-banner .left-sidebar .sidebar-social ul li {
  display: inline-block;
  margin-bottom: 5px;
}
.home-banner .left-sidebar .sidebar-social ul li img {
  width: 50px;
}
.home-banner .img {
  text-align: right;
}
@media (max-width: 991.98px) {
  .home-banner .img {
    text-align: center;
  }
}
.home-banner .img img {
  width: 500px;
}
.home-banner .text {
  position: relative;
  padding: 50px 0 50px 30px;
}
.home-banner .text::before {
  content: "";
  width: 3px;
  height: 100%;
  background: linear-gradient(#066F75, transparent);
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 991.98px) {
  .home-banner .text {
    padding: 30px 0;
    text-align: center;
  }
  .home-banner .text::before {
    display: none;
  }
}
.home-banner .text p {
  font-weight: 600;
}
.home-banner .text a {
  display: inline-block;
  background: linear-gradient(#fe8065, #f74d6c);
  padding: 10px 25px;
  border-radius: 3px;
  color: #ffffff;
}

.home-service {
  background-image: url(../images/service-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0 0;
}
.home-service [class^=col] {
  margin-bottom: 25px;
}
.home-service .service-item {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 0 25px #ddd;
  text-align: center;
  height: 100%;
}
.home-service .service-item img {
  height: 160px;
}
.home-service .service-item h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 15px auto 30px;
  max-width: 240px;
  color: #000000;
  text-transform: capitalize;
}
.home-service .service-item:hover h4 {
  color: #f74d6c;
}

.home-explore {
  padding: 60px 0;
}
.explore-title {
  text-align: center;
}
.explore-title h2 {
  display: inline-block;
  margin-bottom: 30px;
  padding: 15px 25px;
  border-radius: 43px 43px 0 0;
  border-left: 15px solid #009585;
  border-right: 15px solid #009585;
  background-color: #005151;
  color: #fff;
}
.home-story {
  padding: 60px;
  background-color: #EEEDEE;
}
.home-story .story-content {
  position: relative;
}
.home-story .story-content .img {
  width: 60%;
}
@media (max-width: 991.98px) {
  .home-story .story-content .img {
    width: 100%;
    margin-bottom: 30px;
  }
}
.home-story .story-content .text {
  width: 50%;
  position: absolute;
  height: calc(100% - 70px);
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #fff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  .home-story .story-content .text {
    width: 100%;
    position: relative;
    transform: translateY(0);
  }
}
.home-story .story-content .text h2 {
  color: #005151;
  padding: 0;
  margin: 0;
}
.home-story .story-content .text span {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}
.home-story .story-content .text a {
  display: inline-block;
  background: linear-gradient(#fe8065, #f74d6c);
  padding: 10px 25px;
  border-radius: 3px;
  color: #ffffff;
}

.home-training {
  padding-top: 80px;
}
.home-training .training-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home-training .training-content .item {
  text-align: center;
  width: 20%;
  padding: 0 15px;
}
.home-training .training-content .item h4 {
  padding-bottom: 15px;
}
@media (max-width: 991.98px) {
  .home-training .training-content .item {
    margin-bottom: 30px;
    width: 33.3333333333%;
  }
}
@media (max-width: 767.98px) {
  .home-training .training-content .item {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .home-training .training-content .item {
    width: 100%;
  }
}
.home-training .training-content .item h4 {
  font-size: 18px;
  padding-top: 15px;
}

.home-awards {
  background-color: #066F75;
  padding: 60px 0;
  margin-top: 80px;
}
.home-awards .award-content {
  padding: 0 50px;
}
.home-awards .award-content h5 {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  padding-top: 10px;
}
.home-awards .award-content .slick-arrow {
  position: absolute;
  top: 50%;
  left: -30px;
  z-index: 9;
  background-color: transparent;
  border: 0;
  font-size: 24px;
  color: #ffffff;
}
.home-awards .award-content .slick-arrow.slick-next {
  left: auto;
  right: -30px;
}

.home-contact {
  padding-top: 80px;
}
.home-contact .section-title h2 {
  color: #066F75;
}
@media (max-width: 991.98px) {
  .home-contact .text {
    padding-bottom: 40px;
  }
}
.home-contact .text .section-title span {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.home-contact .text .locations {
  padding-top: 30px;
}
.home-contact .text .locations ul {
  display: flex;
  flex-wrap: wrap;
}
.home-contact .text .locations ul li {
  width: 50%;
  padding-left: 40px;
  padding-right: 20px;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .home-contact .text .locations ul li {
    width: 100%;
  }
}
.home-contact .text .locations ul li h5 {
  font-size: 18px;
}
.home-contact .text .locations ul li .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  color: #066F75;
}
.home-contact .text .contact-for {
  position: relative;
  font-size: 18px;
  z-index: -3;
  background-color: #fff;
}
.home-contact .text .direct-contact {
  display: flex;
  align-items: center;
}
@media (max-width: 575px) {
  .home-contact .text .direct-contact {
    flex-direction: column;
    align-items: flex-start;
  }
}
.home-contact .text .direct-contact li {
  margin-right: 30px;
  margin-top: 15px;
}
.home-contact .text .direct-contact li a {
  display: flex;
  align-items: center;
  color: #066F75;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.home-contact .text .direct-contact li a svg {
  padding-right: 8px;
}
.home-contact .form {
  padding: 30px 15px;
  background-color: #E0F2F0;
  border-radius: 10px;
}
.home-contact .form .section-title h2 {
  margin-bottom: 10px;
}
.home-contact .form .section-title p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.home-contact .form .input-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home-contact .form .input-item {
  margin-bottom: 10px;
  width: 100%;
}
.home-contact .form .input-item.w-h {
  width: calc(50% - 7.5px);
}
@media (max-width: 575px) {
  .home-contact .form .input-item.w-h {
    width: 100%;
  }
}
.home-contact .form .input-item input,
.home-contact .form .input-item textarea {
  width: 100%;
  height: 45px;
  border: 1px solid #d2d2d2;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
}
.home-contact .form .input-item textarea {
  padding-top: 15px;
  height: 120px;
}
.home-contact .form .submit-area button {
  height: 45px;
  padding: 0 20px;
  background: linear-gradient(#fe8065, #f74d6c);
  border: 0;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}


.blog-item {
  margin-bottom: 25px;
  background-color: #F5F5F5;
}
.blog-item .blog-text {
  padding: 15px 15px 25px;
}
.blog-item .blog-text .blog-item-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-item .blog-text .blog-item-title .category,
.blog-item .blog-text .blog-item-title .time {
  margin-bottom: 10px;
}
.blog-item .blog-text .blog-item-title .category {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #00A896;
  font-family: "Montserrat", sans-serif;
  transition: all 0.2s;
}
.blog-item .blog-text .blog-item-title .time {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.blog-item .blog-text .blog-content h3 {
  font-size: 20px;
  padding: 10px 0 5px;
  line-height: 30px;
}
.blog-item .blog-text .blog-content h3 a {
  color: #333333;
  transition: all 0.3s;
  display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;  
overflow: hidden;
}
.blog-item .blog-text .blog-content h3 a:hover {
  color: #f74d6c;
}
.blog-item .blog-text .blog-content p {
  color: #6b6b6b;
  display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;  
overflow: hidden;
}
.blog-item .blog-text .read-more a {
  display: inline-block;
  padding: 5px 20px;
  background-color: #00A896;
  color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif;
}
.blog-item .blog-text .read-more a:hover {
  background-color: #f74d6c;
}
